<% let success_msg = '' %>
<% if (success_msg != '') { %>
<div class="alert alert__success"><%= success_msg %></div>
<% } %>
<% let error_msg = '' %>
<% if (error_msg != '') { %>
<div class="alert alert__fail"><%= error_msg %></div>
<% } %>