<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/index.css" rel="stylesheet" type="text/css">
  <script src="../js/login_register.js"></script>
</head>

<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/login">Login</a>
    <a href="/register" onclick="registerClass()">Register</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/instructions">Instructions</a>
  </div>

  <div id="main">
    <div class="heading">
      <h2>Welcome to Jedi Adventures</h2>
      <h5>May the force be with you...</h5>
    </div>

    <span id="menu" onclick="openNav()">&#9776; Menu</span>
  </div>
</body>

</html>